<li>
	{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}EAT ME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>